*{
    background-color: lightgrey;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: white;
  }
  
  .active {
    background-color: #04AA6D;
  }
  #header-img{

  }

  #form{
      text-align: center;
  }
  #submit{
      background-color: darkorange;
  }
  #Featu{
      text-align: center;
  }
  #video{
    text-align: center;
    padding: 10px;
  }

 